{% extends 'base.html' %}
{% load static %}


<html>
<title>football</title>

<!--{% block  head %}
<head>
    hellow
</head>
{% endblock %}-->
<body>
{% block  body %}
.
<header class="masthead bg-primary text-white text-center">
      <div class="container">
             <script>
    alert('{{ message }}');
</script>
<h1> COMING SOON </h1>


      </div>


      </div>
    </header>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endblock %}
</body>
</html>